---
interface Props {
  title: string;
  content: string;
}
const { title, content } = Astro.props;
---

<div class="bg-sky-500 p-10 mb-3">
  <h1>{title}</h1>
  <p>
    {content}
  </p>
</div>

<style>
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin-bottom: 5px;
    color: #202020;
  }
  h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }
</style>
